// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import * as AdGroupsAPI from './ad-groups';
import {
  AdGroupCreateParams,
  AdGroupCreateResponse,
  AdGroupListParams,
  AdGroupListResponse,
  AdGroups,
} from './ad-groups';
import * as AdsAPI from './ads';
import { AdCreateParams, AdCreateResponse, AdListParams, AdListResponse, Ads } from './ads';
import * as CampaignsAPI from './campaigns';
import {
  CampaignCreateParams,
  CampaignCreateResponse,
  CampaignListParams,
  CampaignListResponse,
  Campaigns,
} from './campaigns';
import * as CustomAudiencesAPI from './custom-audiences';
import {
  CustomAudienceCreateParams,
  CustomAudienceCreateResponse,
  CustomAudienceListParams,
  CustomAudienceListResponse,
  CustomAudiences,
} from './custom-audiences';
import * as LeadGenFormsAPI from './lead-gen-forms';
import {
  LeadGenFormCreateParams,
  LeadGenFormCreateResponse,
  LeadGenFormListParams,
  LeadGenFormListResponse,
  LeadGenForms,
} from './lead-gen-forms';
import * as SavedAudiencesAPI from './saved-audiences';
import {
  SavedAudienceCreateParams,
  SavedAudienceCreateResponse,
  SavedAudienceListParams,
  SavedAudienceListResponse,
  SavedAudiences,
} from './saved-audiences';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class AdAccounts extends APIResource {
  adGroups: AdGroupsAPI.AdGroups = new AdGroupsAPI.AdGroups(this._client);
  ads: AdsAPI.Ads = new AdsAPI.Ads(this._client);
  campaigns: CampaignsAPI.Campaigns = new CampaignsAPI.Campaigns(this._client);
  customAudiences: CustomAudiencesAPI.CustomAudiences = new CustomAudiencesAPI.CustomAudiences(this._client);
  leadGenForms: LeadGenFormsAPI.LeadGenForms = new LeadGenFormsAPI.LeadGenForms(this._client);
  savedAudiences: SavedAudiencesAPI.SavedAudiences = new SavedAudiencesAPI.SavedAudiences(this._client);

  /**
   * Get ad account by id.<h2>Rate Limit</h2>
   *
   *   <div><a href="/ratelimits/Campaign Management Read">See the rate limits for <strong>Campaign Management Read</strong></a></div>
   *
   *         <details class="sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border">
   *             <summary
   *                 class="sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none">
   *                 <div class="sl-flex sl-flex-1 sl-items-center sl-h-lg">
   *                     <div class="sl-flex sl-items-center sl-mr-1.5">
   *                         <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down"
   *                             class="svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon" role="img"
   *                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
   *                             <path fill="currentColor"
   *                                 d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z">
   *                             </path>
   *                         </svg>
   *                     </div>
   *                     <div role="heading">Policy Slug: <span class="sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border" style="font-size: 0.8125em;"> ads-campaign-management-read</span></div>
   *                 </div>
   *             </summary>
   *             <div class="sl-panel__content-wrapper sl-border-t" role="region">
   *                 <div class="sl-panel__content sl-p-4">
   *                     <div class="sl--m-2">
   *                         <div>
   *                             <div class="sl-m-2 sl-p-2 sl-border">
   *                                 <div class="sl-prose sl-markdown-viewer" style="font-size: 12px;">
   *                                     <ul>
   *                                         <li>Window: 60 seconds</li>
   *                                         <li>Quota: 400 requests</li>
   *                                     </ul>
   *                                 </div>
   *                             </div>
   *                         </div>
   *                     </div>
   *                 </div>
   *             </div>
   *         </details>
   */
  retrieve(adAccountID: string, options?: RequestOptions): APIPromise<AdAccountRetrieveResponse> {
    return this._client.get(path`/ad_accounts/${adAccountID}`, options);
  }

  /**
   * Update an ad account.<h2>Rate Limit</h2>
   *
   *   <div><a href="/ratelimits/Campaign Management Write">See the rate limits for <strong>Campaign Management Write</strong></a></div>
   *
   *         <details class="sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border">
   *             <summary
   *                 class="sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none">
   *                 <div class="sl-flex sl-flex-1 sl-items-center sl-h-lg">
   *                     <div class="sl-flex sl-items-center sl-mr-1.5">
   *                         <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down"
   *                             class="svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon" role="img"
   *                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
   *                             <path fill="currentColor"
   *                                 d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z">
   *                             </path>
   *                         </svg>
   *                     </div>
   *                     <div role="heading">Policy Slug: <span class="sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border" style="font-size: 0.8125em;"> ads-campaign-management-write</span></div>
   *                 </div>
   *             </summary>
   *             <div class="sl-panel__content-wrapper sl-border-t" role="region">
   *                 <div class="sl-panel__content sl-p-4">
   *                     <div class="sl--m-2">
   *                         <div>
   *                             <div class="sl-m-2 sl-p-2 sl-border">
   *                                 <div class="sl-prose sl-markdown-viewer" style="font-size: 12px;">
   *                                     <ul>
   *                                         <li>Window: 60 seconds</li>
   *                                         <li>Quota: 200 requests</li>
   *                                     </ul>
   *                                 </div>
   *                             </div>
   *                         </div>
   *                     </div>
   *                 </div>
   *             </div>
   *         </details>
   */
  update(
    adAccountID: string,
    body: AdAccountUpdateParams,
    options?: RequestOptions,
  ): APIPromise<AdAccountUpdateResponse> {
    return this._client.patch(path`/ad_accounts/${adAccountID}`, { body, ...options });
  }

  /**
   * Generate a metrics report for up to three `breakdowns` based on the `fields` you
   * provide. Reports provide detailed insights and analytics on ad performance,
   * audience engagement, and other relevant metrics.
   *
   * ## Things to know
   *
   * - **Breakdowns —** Up to 3 breakdowns (4 with `country` and `region`). We
   *   recommend including `ad_id` in and using joins to
   *   [`GET Ad`](https://ads-api.reddit.com/docs/v3/operations/Get%20Ad) to retrieve
   *   ad group and campaign IDs.
   *
   * - **Monetary value conversions —** Some values are converted. To return the
   *   value:
   *
   *   > **Note:** The asterisk (`*`) is used to represent any characters. For
   *   > example, `CONVERSION*TOTAL_VALUE` matches any parameters that start with
   *   > `CONVERSION` and end with `TOTAL_VALUE`.
   *
   * - **Divide by 100 —** `CONVERSION*TOTAL_VALUE`
   *
   * - **Divide by 1 million
   *   —**` SPEND, CPC, CPV, ECPM, APP_INSTALL*ECPA, APP_INSTALL_SKAN*, APP_INSTALL*REVENUE, CONVERSION*ECPA`
   *
   * * **Time zones —** The API defaults to Coordinated Universal Time (UTC). Change
   *   the time zone by
   *   [adding adaptive time zone parameters](https://ads-api.reddit.com/docs/v3/#add-adaptive-time-zone-parameters).
   *
   * * **Conversion data —** Based on your ad account's
   *   [attribution window](https://business.reddithelp.com/s/article/Web-Attribution-Overview).
   *   Update your window with
   *   [`FETCH Update Ad Account`](https://ads-api.reddit.com/docs/v3/operations/Update%20Ad%20Account)
   *   or in the
   *   [Ads Manager](https://ads.reddit.com/events-manager/attribution-settings).
   *
   * * **Asset names —** Retrieve the name using its ID:
   *
   *   - [`Get Campaign`](https://ads-api.reddit.com/docs/v3/operations/Get%20Campaign)
   *
   *   - [`Get Ad Group`](https://ads-api.reddit.com/docs/v3/operations/Get%20Ad%20Group)
   *
   *   - [`Get Ad`](https://ads-api.reddit.com/docs/v3/operations/Get%20Ad)
   *
   * * **Data stability —** Metrics may take up to 6 hours to stabilize. Conversion
   *   data continues updating as events occur.
   *
   * * **Data availability —** Delivery data goes back by 24 months. Reach and
   *   frequency data start June 2024.
   *
   * Refer to our parameter descriptions or
   * [event metadata reporting metrics](https://business.reddithelp.com/s/article/about-event-metadata#event-metadata-reporting-metricsa-idevent-metadata-reporting-metricsa)
   * for more details.
   *
   * <h2>Rate Limit</h2>
   *   <div><a href="/ratelimits/Reporting">See the rate limits for <strong>Reporting</strong></a></div>
   *
   *         <details class="sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border">
   *             <summary
   *                 class="sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none">
   *                 <div class="sl-flex sl-flex-1 sl-items-center sl-h-lg">
   *                     <div class="sl-flex sl-items-center sl-mr-1.5">
   *                         <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down"
   *                             class="svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon" role="img"
   *                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
   *                             <path fill="currentColor"
   *                                 d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z">
   *                             </path>
   *                         </svg>
   *                     </div>
   *                     <div role="heading">Policy Slug: <span class="sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border" style="font-size: 0.8125em;"> ads-reporting</span></div>
   *                 </div>
   *             </summary>
   *             <div class="sl-panel__content-wrapper sl-border-t" role="region">
   *                 <div class="sl-panel__content sl-p-4">
   *                     <div class="sl--m-2">
   *                         <div>
   *                             <div class="sl-m-2 sl-p-2 sl-border">
   *                                 <div class="sl-prose sl-markdown-viewer" style="font-size: 12px;">
   *                                     <ul>
   *                                         <li>Window: 60 seconds</li>
   *                                         <li>Quota: 60 requests</li>
   *                                     </ul>
   *                                 </div>
   *                             </div>
   *                         </div>
   *                     </div>
   *                 </div>
   *             </div>
   *         </details>
   */
  generateReport(
    adAccountID: string,
    params: AdAccountGenerateReportParams,
    options?: RequestOptions,
  ): APIPromise<AdAccountGenerateReportResponse> {
    const { page, ...body } = params;
    return this._client.post(path`/ad_accounts/${adAccountID}/reports`, {
      query: { page },
      body,
      ...options,
    });
  }

  /**
   * Gets a changelog history for an ad account.<h2>Rate Limit</h2>
   *
   *   <div><a href="/ratelimits/Business Manager">See the rate limits for <strong>Business Manager</strong></a></div>
   *
   *         <details class="sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border">
   *             <summary
   *                 class="sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none">
   *                 <div class="sl-flex sl-flex-1 sl-items-center sl-h-lg">
   *                     <div class="sl-flex sl-items-center sl-mr-1.5">
   *                         <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down"
   *                             class="svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon" role="img"
   *                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
   *                             <path fill="currentColor"
   *                                 d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z">
   *                             </path>
   *                         </svg>
   *                     </div>
   *                     <div role="heading">Policy Slug: <span class="sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border" style="font-size: 0.8125em;"> ads-business-manager</span></div>
   *                 </div>
   *             </summary>
   *             <div class="sl-panel__content-wrapper sl-border-t" role="region">
   *                 <div class="sl-panel__content sl-p-4">
   *                     <div class="sl--m-2">
   *                         <div>
   *                             <div class="sl-m-2 sl-p-2 sl-border">
   *                                 <div class="sl-prose sl-markdown-viewer" style="font-size: 12px;">
   *                                     <ul>
   *                                         <li>Window: 60 seconds</li>
   *                                         <li>Quota: 100 requests</li>
   *                                     </ul>
   *                                 </div>
   *                             </div>
   *                         </div>
   *                     </div>
   *                 </div>
   *             </div>
   *         </details>
   */
  getHistory(
    adAccountID: string,
    params: AdAccountGetHistoryParams,
    options?: RequestOptions,
  ): APIPromise<AdAccountGetHistoryResponse> {
    const { page, ...body } = params;
    return this._client.post(path`/ad_accounts/${adAccountID}/history`, {
      query: { page },
      body,
      ...options,
    });
  }

  /**
   * List funding instruments by ad account.
   *
   * <h2>Rate Limit</h2>
   *   <div><a href="/ratelimits/Billing">See the rate limits for <strong>Billing</strong></a></div>
   *
   *         <details class="sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border">
   *             <summary
   *                 class="sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none">
   *                 <div class="sl-flex sl-flex-1 sl-items-center sl-h-lg">
   *                     <div class="sl-flex sl-items-center sl-mr-1.5">
   *                         <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down"
   *                             class="svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon" role="img"
   *                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
   *                             <path fill="currentColor"
   *                                 d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z">
   *                             </path>
   *                         </svg>
   *                     </div>
   *                     <div role="heading">Policy Slug: <span class="sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border" style="font-size: 0.8125em;"> ads-funding-instruments</span></div>
   *                 </div>
   *             </summary>
   *             <div class="sl-panel__content-wrapper sl-border-t" role="region">
   *                 <div class="sl-panel__content sl-p-4">
   *                     <div class="sl--m-2">
   *                         <div>
   *                             <div class="sl-m-2 sl-p-2 sl-border">
   *                                 <div class="sl-prose sl-markdown-viewer" style="font-size: 12px;">
   *                                     <ul>
   *                                         <li>Window: 60 seconds</li>
   *                                         <li>Quota: 30 requests</li>
   *                                     </ul>
   *                                 </div>
   *                             </div>
   *                         </div>
   *                     </div>
   *                 </div>
   *             </div>
   *         </details>
   */
  listFundingInstruments(
    adAccountID: string,
    query: AdAccountListFundingInstrumentsParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<AdAccountListFundingInstrumentsResponse> {
    return this._client.get(path`/ad_accounts/${adAccountID}/funding_instruments`, { query, ...options });
  }

  /**
   * List pixels by ad account.<h2>Rate Limit</h2>
   *
   *   <div><a href="/ratelimits/Conversion Signals">See the rate limits for <strong>Conversion Signals</strong></a></div>
   *
   *         <details class="sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border">
   *             <summary
   *                 class="sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none">
   *                 <div class="sl-flex sl-flex-1 sl-items-center sl-h-lg">
   *                     <div class="sl-flex sl-items-center sl-mr-1.5">
   *                         <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down"
   *                             class="svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon" role="img"
   *                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
   *                             <path fill="currentColor"
   *                                 d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z">
   *                             </path>
   *                         </svg>
   *                     </div>
   *                     <div role="heading">Policy Slug: <span class="sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border" style="font-size: 0.8125em;"> ads-conversion-signals</span></div>
   *                 </div>
   *             </summary>
   *             <div class="sl-panel__content-wrapper sl-border-t" role="region">
   *                 <div class="sl-panel__content sl-p-4">
   *                     <div class="sl--m-2">
   *                         <div>
   *                             <div class="sl-m-2 sl-p-2 sl-border">
   *                                 <div class="sl-prose sl-markdown-viewer" style="font-size: 12px;">
   *                                     <ul>
   *                                         <li>Window: 60 seconds</li>
   *                                         <li>Quota: 30 requests</li>
   *                                     </ul>
   *                                 </div>
   *                             </div>
   *                         </div>
   *                     </div>
   *                 </div>
   *             </div>
   *         </details>
   */
  listPixels(
    adAccountID: string,
    query: AdAccountListPixelsParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<AdAccountListPixelsResponse> {
    return this._client.get(path`/ad_accounts/${adAccountID}/pixels`, { query, ...options });
  }

  /**
   * List profiles by ad account.<h2>Rate Limit</h2>
   *
   *   <div><a href="/ratelimits/Business Manager">See the rate limits for <strong>Business Manager</strong></a></div>
   *
   *         <details class="sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border">
   *             <summary
   *                 class="sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none">
   *                 <div class="sl-flex sl-flex-1 sl-items-center sl-h-lg">
   *                     <div class="sl-flex sl-items-center sl-mr-1.5">
   *                         <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down"
   *                             class="svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon" role="img"
   *                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
   *                             <path fill="currentColor"
   *                                 d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z">
   *                             </path>
   *                         </svg>
   *                     </div>
   *                     <div role="heading">Policy Slug: <span class="sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border" style="font-size: 0.8125em;"> ads-business-manager</span></div>
   *                 </div>
   *             </summary>
   *             <div class="sl-panel__content-wrapper sl-border-t" role="region">
   *                 <div class="sl-panel__content sl-p-4">
   *                     <div class="sl--m-2">
   *                         <div>
   *                             <div class="sl-m-2 sl-p-2 sl-border">
   *                                 <div class="sl-prose sl-markdown-viewer" style="font-size: 12px;">
   *                                     <ul>
   *                                         <li>Window: 60 seconds</li>
   *                                         <li>Quota: 100 requests</li>
   *                                     </ul>
   *                                 </div>
   *                             </div>
   *                         </div>
   *                     </div>
   *                 </div>
   *             </div>
   *         </details>
   */
  listProfiles(
    adAccountID: string,
    query: AdAccountListProfilesParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<AdAccountListProfilesResponse> {
    return this._client.get(path`/ad_accounts/${adAccountID}/profiles`, { query, ...options });
  }
}

export interface AdAccountRetrieveResponse {
  data: AdAccountRetrieveResponse.Data;
}

export namespace AdAccountRetrieveResponse {
  export interface Data {
    /**
     * The ID of the ad account.
     */
    id?: string;

    /**
     * Describes an employee set state for the account.
     */
    admin_approval?:
      | 'ADMIN'
      | 'BANNED'
      | 'NEEDS_ID_VERIFICATION'
      | 'PENDING'
      | 'SUSPENDED'
      | 'SUSPICIOUS'
      | 'TRUSTED'
      | 'VALID';

    /**
     * The attribution type. Only valid for CPA bid types. Also configures the
     * attribution type to query when calculating ECPA fields.
     */
    attribution_type?: 'ALL_CONVERSION' | 'CLICK_THROUGH_CONVERSION' | 'VIEW_THROUGH_CONVERSION';

    /**
     * The unique identifier of a business.
     */
    business_id?: Data.BusinessID;

    /**
     * Configures the window to use when querying reporting for click attributions.
     */
    click_attribution_window?: 'DAY' | 'MONTH' | 'WEEK';

    /**
     * The time that this entity was created represented in ISO 8601.
     */
    created_at?: string;

    /**
     * The ISO4217 currency symbol for the currency used.
     */
    currency?:
      | 'AED'
      | 'AFN'
      | 'ALL'
      | 'AMD'
      | 'ANG'
      | 'AOA'
      | 'ARS'
      | 'AUD'
      | 'AWG'
      | 'AZN'
      | 'BAM'
      | 'BBD'
      | 'BDT'
      | 'BGN'
      | 'BHD'
      | 'BIF'
      | 'BMD'
      | 'BND'
      | 'BOB'
      | 'BOV'
      | 'BRL'
      | 'BSD'
      | 'BTN'
      | 'BWP'
      | 'BYN'
      | 'BZD'
      | 'CAD'
      | 'CDF'
      | 'CHE'
      | 'CHF'
      | 'CHW'
      | 'CLF'
      | 'CLP'
      | 'CNY'
      | 'COP'
      | 'COU'
      | 'CRC'
      | 'CUC'
      | 'CUP'
      | 'CVE'
      | 'CZK'
      | 'DJF'
      | 'DKK'
      | 'DOP'
      | 'DZD'
      | 'EGP'
      | 'ERN'
      | 'ETB'
      | 'EUR'
      | 'FJD'
      | 'FKP'
      | 'GBP'
      | 'GEL'
      | 'GHS'
      | 'GIP'
      | 'GMD'
      | 'GNF'
      | 'GTQ'
      | 'GYD'
      | 'HKD'
      | 'HNL'
      | 'HRK'
      | 'HTG'
      | 'HUF'
      | 'IDR'
      | 'ILS'
      | 'INR'
      | 'IQD'
      | 'IRR'
      | 'ISK'
      | 'JMD'
      | 'JOD'
      | 'JPY'
      | 'KES'
      | 'KGS'
      | 'KHR'
      | 'KMF'
      | 'KPW'
      | 'KRW'
      | 'KWD'
      | 'KYD'
      | 'KZT'
      | 'LAK'
      | 'LBP'
      | 'LKR'
      | 'LRD'
      | 'LSL'
      | 'LYD'
      | 'MAD'
      | 'MDL'
      | 'MGA'
      | 'MKD'
      | 'MMK'
      | 'MNT'
      | 'MOP'
      | 'MRU'
      | 'MUR'
      | 'MVR'
      | 'MWK'
      | 'MXN'
      | 'MXV'
      | 'MYR'
      | 'MZN'
      | 'NAD'
      | 'NGN'
      | 'NIO'
      | 'NOK'
      | 'NPR'
      | 'NZD'
      | 'OMR'
      | 'PAB'
      | 'PEN'
      | 'PGK'
      | 'PHP'
      | 'PKR'
      | 'PLN'
      | 'PYG'
      | 'QAR'
      | 'RON'
      | 'RSD'
      | 'RUB'
      | 'RWF'
      | 'SAR'
      | 'SBD'
      | 'SCR'
      | 'SDG'
      | 'SEK'
      | 'SGD'
      | 'SHP'
      | 'SLL'
      | 'SOS'
      | 'SRD'
      | 'SSP'
      | 'STN'
      | 'SVC'
      | 'SYP'
      | 'SZL'
      | 'THB'
      | 'TJS'
      | 'TMT'
      | 'TND'
      | 'TOP'
      | 'TRY'
      | 'TTD'
      | 'TWD'
      | 'TZS'
      | 'UAH'
      | 'UGX'
      | 'USD'
      | 'USN'
      | 'UYI'
      | 'UYU'
      | 'UYW'
      | 'UZS'
      | 'VES'
      | 'VND'
      | 'VUV'
      | 'WST'
      | 'XAF'
      | 'XAG'
      | 'XAU'
      | 'XBA'
      | 'XBB'
      | 'XBC'
      | 'XBD'
      | 'XCD'
      | 'XDR'
      | 'XOF'
      | 'XPD'
      | 'XPF'
      | 'XPT'
      | 'XSU'
      | 'XTS'
      | 'XUA'
      | 'XXX'
      | 'YER'
      | 'ZAR'
      | 'ZMW'
      | 'ZWL';

    /**
     * Account level excluded communities.
     */
    excluded_communities?: Array<string> | null;

    /**
     * Account level excluded keywords.
     */
    excluded_keywords?: Array<string> | null;

    /**
     * The last time that this entity was modified represented in ISO 8601.
     */
    modified_at?: string;

    /**
     * The ad account name.
     */
    name?: string;

    /**
     * A list of pixel partners allowed by the advertiser.
     */
    pixel_partner_preferences?: Array<'DV' | 'IAS' | 'MODE'> | null;

    /**
     * The ID of the primary contact member.
     */
    primary_contact_member_id?: string;

    /**
     * The type of spend cap applied to the ad account.
     */
    spend_cap_type?: 'LIFETIME' | null;

    /**
     * The reason why this ad account was suspended.
     */
    suspension_reason?: 'ADVERTISING_POLICY' | 'BEHAVIOR' | 'FRAUD' | 'OTHER' | 'KYC_CHECK_FAILED' | null;

    time_zone_id?:
      | 'Africa/Abidjan'
      | 'Africa/Accra'
      | 'Africa/Addis_Ababa'
      | 'Africa/Algiers'
      | 'Africa/Asmara'
      | 'Africa/Asmera'
      | 'Africa/Bamako'
      | 'Africa/Bangui'
      | 'Africa/Banjul'
      | 'Africa/Bissau'
      | 'Africa/Blantyre'
      | 'Africa/Brazzaville'
      | 'Africa/Bujumbura'
      | 'Africa/Cairo'
      | 'Africa/Casablanca'
      | 'Africa/Ceuta'
      | 'Africa/Conakry'
      | 'Africa/Dakar'
      | 'Africa/Dar_es_Salaam'
      | 'Africa/Djibouti'
      | 'Africa/Douala'
      | 'Africa/El_Aaiun'
      | 'Africa/Freetown'
      | 'Africa/Gaborone'
      | 'Africa/Harare'
      | 'Africa/Johannesburg'
      | 'Africa/Juba'
      | 'Africa/Kampala'
      | 'Africa/Khartoum'
      | 'Africa/Kigali'
      | 'Africa/Kinshasa'
      | 'Africa/Lagos'
      | 'Africa/Libreville'
      | 'Africa/Lome'
      | 'Africa/Luanda'
      | 'Africa/Lubumbashi'
      | 'Africa/Lusaka'
      | 'Africa/Malabo'
      | 'Africa/Maputo'
      | 'Africa/Maseru'
      | 'Africa/Mbabane'
      | 'Africa/Mogadishu'
      | 'Africa/Monrovia'
      | 'Africa/Nairobi'
      | 'Africa/Ndjamena'
      | 'Africa/Niamey'
      | 'Africa/Nouakchott'
      | 'Africa/Ouagadougou'
      | 'Africa/Porto-Novo'
      | 'Africa/Sao_Tome'
      | 'Africa/Timbuktu'
      | 'Africa/Tripoli'
      | 'Africa/Tunis'
      | 'Africa/Windhoek'
      | 'America/Adak'
      | 'America/Anchorage'
      | 'America/Anguilla'
      | 'America/Antigua'
      | 'America/Araguaina'
      | 'America/Argentina/Buenos_Aires'
      | 'America/Argentina/Catamarca'
      | 'America/Argentina/ComodRivadavia'
      | 'America/Argentina/Cordoba'
      | 'America/Argentina/Jujuy'
      | 'America/Argentina/La_Rioja'
      | 'America/Argentina/Mendoza'
      | 'America/Argentina/Rio_Gallegos'
      | 'America/Argentina/Salta'
      | 'America/Argentina/San_Juan'
      | 'America/Argentina/San_Luis'
      | 'America/Argentina/Tucuman'
      | 'America/Argentina/Ushuaia'
      | 'America/Aruba'
      | 'America/Asuncion'
      | 'America/Atikokan'
      | 'America/Atka'
      | 'America/Bahia'
      | 'America/Bahia_Banderas'
      | 'America/Barbados'
      | 'America/Belem'
      | 'America/Belize'
      | 'America/Blanc-Sablon'
      | 'America/Boa_Vista'
      | 'America/Bogota'
      | 'America/Boise'
      | 'America/Buenos_Aires'
      | 'America/Cambridge_Bay'
      | 'America/Campo_Grande'
      | 'America/Cancun'
      | 'America/Caracas'
      | 'America/Catamarca'
      | 'America/Cayenne'
      | 'America/Cayman'
      | 'America/Chicago'
      | 'America/Chihuahua'
      | 'America/Ciudad_Juarez'
      | 'America/Coral_Harbour'
      | 'America/Cordoba'
      | 'America/Costa_Rica'
      | 'America/Creston'
      | 'America/Cuiaba'
      | 'America/Curacao'
      | 'America/Danmarkshavn'
      | 'America/Dawson'
      | 'America/Dawson_Creek'
      | 'America/Denver'
      | 'America/Detroit'
      | 'America/Dominica'
      | 'America/Edmonton'
      | 'America/Eirunepe'
      | 'America/El_Salvador'
      | 'America/Ensenada'
      | 'America/Fort_Nelson'
      | 'America/Fort_Wayne'
      | 'America/Fortaleza'
      | 'America/Glace_Bay'
      | 'America/Godthab'
      | 'America/Goose_Bay'
      | 'America/Grand_Turk'
      | 'America/Grenada'
      | 'America/Guadeloupe'
      | 'America/Guatemala'
      | 'America/Guayaquil'
      | 'America/Guyana'
      | 'America/Halifax'
      | 'America/Havana'
      | 'America/Hermosillo'
      | 'America/Indiana/Indianapolis'
      | 'America/Indiana/Knox'
      | 'America/Indiana/Marengo'
      | 'America/Indiana/Petersburg'
      | 'America/Indiana/Tell_City'
      | 'America/Indiana/Vevay'
      | 'America/Indiana/Vincennes'
      | 'America/Indiana/Winamac'
      | 'America/Indianapolis'
      | 'America/Inuvik'
      | 'America/Iqaluit'
      | 'America/Jamaica'
      | 'America/Jujuy'
      | 'America/Juneau'
      | 'America/Kentucky/Louisville'
      | 'America/Kentucky/Monticello'
      | 'America/Knox_IN'
      | 'America/Kralendijk'
      | 'America/La_Paz'
      | 'America/Lima'
      | 'America/Los_Angeles'
      | 'America/Louisville'
      | 'America/Lower_Princes'
      | 'America/Maceio'
      | 'America/Managua'
      | 'America/Manaus'
      | 'America/Marigot'
      | 'America/Martinique'
      | 'America/Matamoros'
      | 'America/Mazatlan'
      | 'America/Mendoza'
      | 'America/Menominee'
      | 'America/Merida'
      | 'America/Metlakatla'
      | 'America/Mexico_City'
      | 'America/Miquelon'
      | 'America/Moncton'
      | 'America/Monterrey'
      | 'America/Montevideo'
      | 'America/Montreal'
      | 'America/Montserrat'
      | 'America/Nassau'
      | 'America/New_York'
      | 'America/Nipigon'
      | 'America/Nome'
      | 'America/Noronha'
      | 'America/North_Dakota/Beulah'
      | 'America/North_Dakota/Center'
      | 'America/North_Dakota/New_Salem'
      | 'America/Nuuk'
      | 'America/Ojinaga'
      | 'America/Panama'
      | 'America/Pangnirtung'
      | 'America/Paramaribo'
      | 'America/Phoenix'
      | 'America/Port-au-Prince'
      | 'America/Port_of_Spain'
      | 'America/Porto_Acre'
      | 'America/Porto_Velho'
      | 'America/Puerto_Rico'
      | 'America/Punta_Arenas'
      | 'America/Rainy_River'
      | 'America/Rankin_Inlet'
      | 'America/Recife'
      | 'America/Regina'
      | 'America/Resolute'
      | 'America/Rio_Branco'
      | 'America/Rosario'
      | 'America/Santa_Isabel'
      | 'America/Santarem'
      | 'America/Santiago'
      | 'America/Santo_Domingo'
      | 'America/Sao_Paulo'
      | 'America/Scoresbysund'
      | 'America/Shiprock'
      | 'America/Sitka'
      | 'America/St_Barthelemy'
      | 'America/St_Johns'
      | 'America/St_Kitts'
      | 'America/St_Lucia'
      | 'America/St_Thomas'
      | 'America/St_Vincent'
      | 'America/Swift_Current'
      | 'America/Tegucigalpa'
      | 'America/Thule'
      | 'America/Thunder_Bay'
      | 'America/Tijuana'
      | 'America/Toronto'
      | 'America/Tortola'
      | 'America/Vancouver'
      | 'America/Virgin'
      | 'America/Whitehorse'
      | 'America/Winnipeg'
      | 'America/Yakutat'
      | 'America/Yellowknife'
      | 'Antarctica/Casey'
      | 'Antarctica/Davis'
      | 'Antarctica/DumontDUrville'
      | 'Antarctica/Macquarie'
      | 'Antarctica/Mawson'
      | 'Antarctica/McMurdo'
      | 'Antarctica/Palmer'
      | 'Antarctica/Rothera'
      | 'Antarctica/South_Pole'
      | 'Antarctica/Syowa'
      | 'Antarctica/Troll'
      | 'Antarctica/Vostok'
      | 'Arctic/Longyearbyen'
      | 'Asia/Aden'
      | 'Asia/Almaty'
      | 'Asia/Amman'
      | 'Asia/Anadyr'
      | 'Asia/Aqtau'
      | 'Asia/Aqtobe'
      | 'Asia/Ashgabat'
      | 'Asia/Ashkhabad'
      | 'Asia/Atyrau'
      | 'Asia/Baghdad'
      | 'Asia/Bahrain'
      | 'Asia/Baku'
      | 'Asia/Bangkok'
      | 'Asia/Barnaul'
      | 'Asia/Beirut'
      | 'Asia/Bishkek'
      | 'Asia/Brunei'
      | 'Asia/Calcutta'
      | 'Asia/Chita'
      | 'Asia/Choibalsan'
      | 'Asia/Chongqing'
      | 'Asia/Chungking'
      | 'Asia/Colombo'
      | 'Asia/Dacca'
      | 'Asia/Damascus'
      | 'Asia/Dhaka'
      | 'Asia/Dili'
      | 'Asia/Dubai'
      | 'Asia/Dushanbe'
      | 'Asia/Famagusta'
      | 'Asia/Gaza'
      | 'Asia/Harbin'
      | 'Asia/Hebron'
      | 'Asia/Ho_Chi_Minh'
      | 'Asia/Hong_Kong'
      | 'Asia/Hovd'
      | 'Asia/Irkutsk'
      | 'Asia/Istanbul'
      | 'Asia/Jakarta'
      | 'Asia/Jayapura'
      | 'Asia/Jerusalem'
      | 'Asia/Kabul'
      | 'Asia/Kamchatka'
      | 'Asia/Karachi'
      | 'Asia/Kashgar'
      | 'Asia/Kathmandu'
      | 'Asia/Katmandu'
      | 'Asia/Khandyga'
      | 'Asia/Kolkata'
      | 'Asia/Krasnoyarsk'
      | 'Asia/Kuala_Lumpur'
      | 'Asia/Kuching'
      | 'Asia/Kuwait'
      | 'Asia/Macao'
      | 'Asia/Macau'
      | 'Asia/Magadan'
      | 'Asia/Makassar'
      | 'Asia/Manila'
      | 'Asia/Muscat'
      | 'Asia/Nicosia'
      | 'Asia/Novokuznetsk'
      | 'Asia/Novosibirsk'
      | 'Asia/Omsk'
      | 'Asia/Oral'
      | 'Asia/Phnom_Penh'
      | 'Asia/Pontianak'
      | 'Asia/Pyongyang'
      | 'Asia/Qatar'
      | 'Asia/Qostanay'
      | 'Asia/Qyzylorda'
      | 'Asia/Rangoon'
      | 'Asia/Riyadh'
      | 'Asia/Saigon'
      | 'Asia/Sakhalin'
      | 'Asia/Samarkand'
      | 'Asia/Seoul'
      | 'Asia/Shanghai'
      | 'Asia/Singapore'
      | 'Asia/Srednekolymsk'
      | 'Asia/Taipei'
      | 'Asia/Tashkent'
      | 'Asia/Tbilisi'
      | 'Asia/Tehran'
      | 'Asia/Tel_Aviv'
      | 'Asia/Thimbu'
      | 'Asia/Thimphu'
      | 'Asia/Tokyo'
      | 'Asia/Tomsk'
      | 'Asia/Ujung_Pandang'
      | 'Asia/Ulaanbaatar'
      | 'Asia/Ulan_Bator'
      | 'Asia/Urumqi'
      | 'Asia/Ust-Nera'
      | 'Asia/Vientiane'
      | 'Asia/Vladivostok'
      | 'Asia/Yakutsk'
      | 'Asia/Yangon'
      | 'Asia/Yekaterinburg'
      | 'Asia/Yerevan'
      | 'Atlantic/Azores'
      | 'Atlantic/Bermuda'
      | 'Atlantic/Canary'
      | 'Atlantic/Cape_Verde'
      | 'Atlantic/Faeroe'
      | 'Atlantic/Faroe'
      | 'Atlantic/Jan_Mayen'
      | 'Atlantic/Madeira'
      | 'Atlantic/Reykjavik'
      | 'Atlantic/South_Georgia'
      | 'Atlantic/St_Helena'
      | 'Atlantic/Stanley'
      | 'Australia/ACT'
      | 'Australia/Adelaide'
      | 'Australia/Brisbane'
      | 'Australia/Broken_Hill'
      | 'Australia/Canberra'
      | 'Australia/Currie'
      | 'Australia/Darwin'
      | 'Australia/Eucla'
      | 'Australia/Hobart'
      | 'Australia/LHI'
      | 'Australia/Lindeman'
      | 'Australia/Lord_Howe'
      | 'Australia/Melbourne'
      | 'Australia/NSW'
      | 'Australia/North'
      | 'Australia/Perth'
      | 'Australia/Queensland'
      | 'Australia/South'
      | 'Australia/Sydney'
      | 'Australia/Tasmania'
      | 'Australia/Victoria'
      | 'Australia/West'
      | 'Australia/Yancowinna'
      | 'Brazil/Acre'
      | 'Brazil/DeNoronha'
      | 'Brazil/East'
      | 'Brazil/West'
      | 'CET'
      | 'CST6CDT'
      | 'Canada/Atlantic'
      | 'Canada/Central'
      | 'Canada/Eastern'
      | 'Canada/Mountain'
      | 'Canada/Newfoundland'
      | 'Canada/Pacific'
      | 'Canada/Saskatchewan'
      | 'Canada/Yukon'
      | 'Chile/Continental'
      | 'Chile/EasterIsland'
      | 'Cuba'
      | 'EET'
      | 'EST'
      | 'EST5EDT'
      | 'Egypt'
      | 'Eire'
      | 'Etc/GMT'
      | 'Etc/GMT+0'
      | 'Etc/GMT+1'
      | 'Etc/GMT+10'
      | 'Etc/GMT+11'
      | 'Etc/GMT+12'
      | 'Etc/GMT+2'
      | 'Etc/GMT+3'
      | 'Etc/GMT+4'
      | 'Etc/GMT+5'
      | 'Etc/GMT+6'
      | 'Etc/GMT+7'
      | 'Etc/GMT+8'
      | 'Etc/GMT+9'
      | 'Etc/GMT-0'
      | 'Etc/GMT-1'
      | 'Etc/GMT-10'
      | 'Etc/GMT-11'
      | 'Etc/GMT-12'
      | 'Etc/GMT-13'
      | 'Etc/GMT-14'
      | 'Etc/GMT-2'
      | 'Etc/GMT-3'
      | 'Etc/GMT-4'
      | 'Etc/GMT-5'
      | 'Etc/GMT-6'
      | 'Etc/GMT-7'
      | 'Etc/GMT-8'
      | 'Etc/GMT-9'
      | 'Etc/GMT0'
      | 'Etc/Greenwich'
      | 'Etc/UCT'
      | 'Etc/UTC'
      | 'Etc/Universal'
      | 'Etc/Zulu'
      | 'Europe/Amsterdam'
      | 'Europe/Andorra'
      | 'Europe/Astrakhan'
      | 'Europe/Athens'
      | 'Europe/Belfast'
      | 'Europe/Belgrade'
      | 'Europe/Berlin'
      | 'Europe/Bratislava'
      | 'Europe/Brussels'
      | 'Europe/Bucharest'
      | 'Europe/Budapest'
      | 'Europe/Busingen'
      | 'Europe/Chisinau'
      | 'Europe/Copenhagen'
      | 'Europe/Dublin'
      | 'Europe/Gibraltar'
      | 'Europe/Guernsey'
      | 'Europe/Helsinki'
      | 'Europe/Isle_of_Man'
      | 'Europe/Istanbul'
      | 'Europe/Jersey'
      | 'Europe/Kaliningrad'
      | 'Europe/Kiev'
      | 'Europe/Kirov'
      | 'Europe/Kyiv'
      | 'Europe/Lisbon'
      | 'Europe/Ljubljana'
      | 'Europe/London'
      | 'Europe/Luxembourg'
      | 'Europe/Madrid'
      | 'Europe/Malta'
      | 'Europe/Mariehamn'
      | 'Europe/Minsk'
      | 'Europe/Monaco'
      | 'Europe/Moscow'
      | 'Europe/Nicosia'
      | 'Europe/Oslo'
      | 'Europe/Paris'
      | 'Europe/Podgorica'
      | 'Europe/Prague'
      | 'Europe/Riga'
      | 'Europe/Rome'
      | 'Europe/Samara'
      | 'Europe/San_Marino'
      | 'Europe/Sarajevo'
      | 'Europe/Saratov'
      | 'Europe/Simferopol'
      | 'Europe/Skopje'
      | 'Europe/Sofia'
      | 'Europe/Stockholm'
      | 'Europe/Tallinn'
      | 'Europe/Tirane'
      | 'Europe/Tiraspol'
      | 'Europe/Ulyanovsk'
      | 'Europe/Uzhgorod'
      | 'Europe/Vaduz'
      | 'Europe/Vatican'
      | 'Europe/Vienna'
      | 'Europe/Vilnius'
      | 'Europe/Volgograd'
      | 'Europe/Warsaw'
      | 'Europe/Zagreb'
      | 'Europe/Zaporozhye'
      | 'Europe/Zurich'
      | 'GB'
      | 'GB-Eire'
      | 'GMT'
      | 'GMT+0'
      | 'GMT-0'
      | 'GMT0'
      | 'Greenwich'
      | 'HST'
      | 'Hongkong'
      | 'Iceland'
      | 'Indian/Antananarivo'
      | 'Indian/Chagos'
      | 'Indian/Christmas'
      | 'Indian/Cocos'
      | 'Indian/Comoro'
      | 'Indian/Kerguelen'
      | 'Indian/Mahe'
      | 'Indian/Maldives'
      | 'Indian/Mauritius'
      | 'Indian/Mayotte'
      | 'Indian/Reunion'
      | 'Iran'
      | 'Israel'
      | 'Jamaica'
      | 'Japan'
      | 'Kwajalein'
      | 'Libya'
      | 'MET'
      | 'MST'
      | 'MST7MDT'
      | 'Mexico/BajaNorte'
      | 'Mexico/BajaSur'
      | 'Mexico/General'
      | 'NZ'
      | 'NZ-CHAT'
      | 'Navajo'
      | 'PRC'
      | 'PST8PDT'
      | 'Pacific/Apia'
      | 'Pacific/Auckland'
      | 'Pacific/Bougainville'
      | 'Pacific/Chatham'
      | 'Pacific/Chuuk'
      | 'Pacific/Easter'
      | 'Pacific/Efate'
      | 'Pacific/Enderbury'
      | 'Pacific/Fakaofo'
      | 'Pacific/Fiji'
      | 'Pacific/Funafuti'
      | 'Pacific/Galapagos'
      | 'Pacific/Gambier'
      | 'Pacific/Guadalcanal'
      | 'Pacific/Guam'
      | 'Pacific/Honolulu'
      | 'Pacific/Johnston'
      | 'Pacific/Kanton'
      | 'Pacific/Kiritimati'
      | 'Pacific/Kosrae'
      | 'Pacific/Kwajalein'
      | 'Pacific/Majuro'
      | 'Pacific/Marquesas'
      | 'Pacific/Midway'
      | 'Pacific/Nauru'
      | 'Pacific/Niue'
      | 'Pacific/Norfolk'
      | 'Pacific/Noumea'
      | 'Pacific/Pago_Pago'
      | 'Pacific/Palau'
      | 'Pacific/Pitcairn'
      | 'Pacific/Pohnpei'
      | 'Pacific/Ponape'
      | 'Pacific/Port_Moresby'
      | 'Pacific/Rarotonga'
      | 'Pacific/Saipan'
      | 'Pacific/Samoa'
      | 'Pacific/Tahiti'
      | 'Pacific/Tarawa'
      | 'Pacific/Tongatapu'
      | 'Pacific/Truk'
      | 'Pacific/Wake'
      | 'Pacific/Wallis'
      | 'Pacific/Yap'
      | 'Poland'
      | 'Portugal'
      | 'ROC'
      | 'ROK'
      | 'Singapore'
      | 'Turkey'
      | 'UCT'
      | 'US/Alaska'
      | 'US/Aleutian'
      | 'US/Arizona'
      | 'US/Central'
      | 'US/East-Indiana'
      | 'US/Eastern'
      | 'US/Hawaii'
      | 'US/Indiana-Starke'
      | 'US/Michigan'
      | 'US/Mountain'
      | 'US/Pacific'
      | 'US/Samoa'
      | 'UTC'
      | 'Universal'
      | 'W-SU'
      | 'WET'
      | 'Zulu'
      | null;

    /**
     * The type of the ad account.
     */
    type?: 'MANAGED' | 'SELF_SERVE';

    /**
     * Configures the window to use when querying reporting for view attributions.
     */
    view_attribution_window?: 'DAY' | 'MONTH' | 'WEEK';
  }

  export namespace Data {
    /**
     * The unique identifier of a business.
     */
    export interface BusinessID {}
  }
}

export interface AdAccountUpdateResponse {
  data: AdAccountUpdateResponse.Data;
}

export namespace AdAccountUpdateResponse {
  export interface Data {
    /**
     * The ID of the ad account.
     */
    id?: string;

    /**
     * Describes an employee set state for the account.
     */
    admin_approval?:
      | 'ADMIN'
      | 'BANNED'
      | 'NEEDS_ID_VERIFICATION'
      | 'PENDING'
      | 'SUSPENDED'
      | 'SUSPICIOUS'
      | 'TRUSTED'
      | 'VALID';

    /**
     * The attribution type. Only valid for CPA bid types. Also configures the
     * attribution type to query when calculating ECPA fields.
     */
    attribution_type?: 'ALL_CONVERSION' | 'CLICK_THROUGH_CONVERSION' | 'VIEW_THROUGH_CONVERSION';

    /**
     * The unique identifier of a business.
     */
    business_id?: Data.BusinessID;

    /**
     * Configures the window to use when querying reporting for click attributions.
     */
    click_attribution_window?: 'DAY' | 'MONTH' | 'WEEK';

    /**
     * The time that this entity was created represented in ISO 8601.
     */
    created_at?: string;

    /**
     * The ISO4217 currency symbol for the currency used.
     */
    currency?:
      | 'AED'
      | 'AFN'
      | 'ALL'
      | 'AMD'
      | 'ANG'
      | 'AOA'
      | 'ARS'
      | 'AUD'
      | 'AWG'
      | 'AZN'
      | 'BAM'
      | 'BBD'
      | 'BDT'
      | 'BGN'
      | 'BHD'
      | 'BIF'
      | 'BMD'
      | 'BND'
      | 'BOB'
      | 'BOV'
      | 'BRL'
      | 'BSD'
      | 'BTN'
      | 'BWP'
      | 'BYN'
      | 'BZD'
      | 'CAD'
      | 'CDF'
      | 'CHE'
      | 'CHF'
      | 'CHW'
      | 'CLF'
      | 'CLP'
      | 'CNY'
      | 'COP'
      | 'COU'
      | 'CRC'
      | 'CUC'
      | 'CUP'
      | 'CVE'
      | 'CZK'
      | 'DJF'
      | 'DKK'
      | 'DOP'
      | 'DZD'
      | 'EGP'
      | 'ERN'
      | 'ETB'
      | 'EUR'
      | 'FJD'
      | 'FKP'
      | 'GBP'
      | 'GEL'
      | 'GHS'
      | 'GIP'
      | 'GMD'
      | 'GNF'
      | 'GTQ'
      | 'GYD'
      | 'HKD'
      | 'HNL'
      | 'HRK'
      | 'HTG'
      | 'HUF'
      | 'IDR'
      | 'ILS'
      | 'INR'
      | 'IQD'
      | 'IRR'
      | 'ISK'
      | 'JMD'
      | 'JOD'
      | 'JPY'
      | 'KES'
      | 'KGS'
      | 'KHR'
      | 'KMF'
      | 'KPW'
      | 'KRW'
      | 'KWD'
      | 'KYD'
      | 'KZT'
      | 'LAK'
      | 'LBP'
      | 'LKR'
      | 'LRD'
      | 'LSL'
      | 'LYD'
      | 'MAD'
      | 'MDL'
      | 'MGA'
      | 'MKD'
      | 'MMK'
      | 'MNT'
      | 'MOP'
      | 'MRU'
      | 'MUR'
      | 'MVR'
      | 'MWK'
      | 'MXN'
      | 'MXV'
      | 'MYR'
      | 'MZN'
      | 'NAD'
      | 'NGN'
      | 'NIO'
      | 'NOK'
      | 'NPR'
      | 'NZD'
      | 'OMR'
      | 'PAB'
      | 'PEN'
      | 'PGK'
      | 'PHP'
      | 'PKR'
      | 'PLN'
      | 'PYG'
      | 'QAR'
      | 'RON'
      | 'RSD'
      | 'RUB'
      | 'RWF'
      | 'SAR'
      | 'SBD'
      | 'SCR'
      | 'SDG'
      | 'SEK'
      | 'SGD'
      | 'SHP'
      | 'SLL'
      | 'SOS'
      | 'SRD'
      | 'SSP'
      | 'STN'
      | 'SVC'
      | 'SYP'
      | 'SZL'
      | 'THB'
      | 'TJS'
      | 'TMT'
      | 'TND'
      | 'TOP'
      | 'TRY'
      | 'TTD'
      | 'TWD'
      | 'TZS'
      | 'UAH'
      | 'UGX'
      | 'USD'
      | 'USN'
      | 'UYI'
      | 'UYU'
      | 'UYW'
      | 'UZS'
      | 'VES'
      | 'VND'
      | 'VUV'
      | 'WST'
      | 'XAF'
      | 'XAG'
      | 'XAU'
      | 'XBA'
      | 'XBB'
      | 'XBC'
      | 'XBD'
      | 'XCD'
      | 'XDR'
      | 'XOF'
      | 'XPD'
      | 'XPF'
      | 'XPT'
      | 'XSU'
      | 'XTS'
      | 'XUA'
      | 'XXX'
      | 'YER'
      | 'ZAR'
      | 'ZMW'
      | 'ZWL';

    /**
     * Account level excluded communities.
     */
    excluded_communities?: Array<string> | null;

    /**
     * Account level excluded keywords.
     */
    excluded_keywords?: Array<string> | null;

    /**
     * The last time that this entity was modified represented in ISO 8601.
     */
    modified_at?: string;

    /**
     * The ad account name.
     */
    name?: string;

    /**
     * A list of pixel partners allowed by the advertiser.
     */
    pixel_partner_preferences?: Array<'DV' | 'IAS' | 'MODE'> | null;

    /**
     * The ID of the primary contact member.
     */
    primary_contact_member_id?: string;

    /**
     * The type of spend cap applied to the ad account.
     */
    spend_cap_type?: 'LIFETIME' | null;

    /**
     * The reason why this ad account was suspended.
     */
    suspension_reason?: 'ADVERTISING_POLICY' | 'BEHAVIOR' | 'FRAUD' | 'OTHER' | 'KYC_CHECK_FAILED' | null;

    time_zone_id?:
      | 'Africa/Abidjan'
      | 'Africa/Accra'
      | 'Africa/Addis_Ababa'
      | 'Africa/Algiers'
      | 'Africa/Asmara'
      | 'Africa/Asmera'
      | 'Africa/Bamako'
      | 'Africa/Bangui'
      | 'Africa/Banjul'
      | 'Africa/Bissau'
      | 'Africa/Blantyre'
      | 'Africa/Brazzaville'
      | 'Africa/Bujumbura'
      | 'Africa/Cairo'
      | 'Africa/Casablanca'
      | 'Africa/Ceuta'
      | 'Africa/Conakry'
      | 'Africa/Dakar'
      | 'Africa/Dar_es_Salaam'
      | 'Africa/Djibouti'
      | 'Africa/Douala'
      | 'Africa/El_Aaiun'
      | 'Africa/Freetown'
      | 'Africa/Gaborone'
      | 'Africa/Harare'
      | 'Africa/Johannesburg'
      | 'Africa/Juba'
      | 'Africa/Kampala'
      | 'Africa/Khartoum'
      | 'Africa/Kigali'
      | 'Africa/Kinshasa'
      | 'Africa/Lagos'
      | 'Africa/Libreville'
      | 'Africa/Lome'
      | 'Africa/Luanda'
      | 'Africa/Lubumbashi'
      | 'Africa/Lusaka'
      | 'Africa/Malabo'
      | 'Africa/Maputo'
      | 'Africa/Maseru'
      | 'Africa/Mbabane'
      | 'Africa/Mogadishu'
      | 'Africa/Monrovia'
      | 'Africa/Nairobi'
      | 'Africa/Ndjamena'
      | 'Africa/Niamey'
      | 'Africa/Nouakchott'
      | 'Africa/Ouagadougou'
      | 'Africa/Porto-Novo'
      | 'Africa/Sao_Tome'
      | 'Africa/Timbuktu'
      | 'Africa/Tripoli'
      | 'Africa/Tunis'
      | 'Africa/Windhoek'
      | 'America/Adak'
      | 'America/Anchorage'
      | 'America/Anguilla'
      | 'America/Antigua'
      | 'America/Araguaina'
      | 'America/Argentina/Buenos_Aires'
      | 'America/Argentina/Catamarca'
      | 'America/Argentina/ComodRivadavia'
      | 'America/Argentina/Cordoba'
      | 'America/Argentina/Jujuy'
      | 'America/Argentina/La_Rioja'
      | 'America/Argentina/Mendoza'
      | 'America/Argentina/Rio_Gallegos'
      | 'America/Argentina/Salta'
      | 'America/Argentina/San_Juan'
      | 'America/Argentina/San_Luis'
      | 'America/Argentina/Tucuman'
      | 'America/Argentina/Ushuaia'
      | 'America/Aruba'
      | 'America/Asuncion'
      | 'America/Atikokan'
      | 'America/Atka'
      | 'America/Bahia'
      | 'America/Bahia_Banderas'
      | 'America/Barbados'
      | 'America/Belem'
      | 'America/Belize'
      | 'America/Blanc-Sablon'
      | 'America/Boa_Vista'
      | 'America/Bogota'
      | 'America/Boise'
      | 'America/Buenos_Aires'
      | 'America/Cambridge_Bay'
      | 'America/Campo_Grande'
      | 'America/Cancun'
      | 'America/Caracas'
      | 'America/Catamarca'
      | 'America/Cayenne'
      | 'America/Cayman'
      | 'America/Chicago'
      | 'America/Chihuahua'
      | 'America/Ciudad_Juarez'
      | 'America/Coral_Harbour'
      | 'America/Cordoba'
      | 'America/Costa_Rica'
      | 'America/Creston'
      | 'America/Cuiaba'
      | 'America/Curacao'
      | 'America/Danmarkshavn'
      | 'America/Dawson'
      | 'America/Dawson_Creek'
      | 'America/Denver'
      | 'America/Detroit'
      | 'America/Dominica'
      | 'America/Edmonton'
      | 'America/Eirunepe'
      | 'America/El_Salvador'
      | 'America/Ensenada'
      | 'America/Fort_Nelson'
      | 'America/Fort_Wayne'
      | 'America/Fortaleza'
      | 'America/Glace_Bay'
      | 'America/Godthab'
      | 'America/Goose_Bay'
      | 'America/Grand_Turk'
      | 'America/Grenada'
      | 'America/Guadeloupe'
      | 'America/Guatemala'
      | 'America/Guayaquil'
      | 'America/Guyana'
      | 'America/Halifax'
      | 'America/Havana'
      | 'America/Hermosillo'
      | 'America/Indiana/Indianapolis'
      | 'America/Indiana/Knox'
      | 'America/Indiana/Marengo'
      | 'America/Indiana/Petersburg'
      | 'America/Indiana/Tell_City'
      | 'America/Indiana/Vevay'
      | 'America/Indiana/Vincennes'
      | 'America/Indiana/Winamac'
      | 'America/Indianapolis'
      | 'America/Inuvik'
      | 'America/Iqaluit'
      | 'America/Jamaica'
      | 'America/Jujuy'
      | 'America/Juneau'
      | 'America/Kentucky/Louisville'
      | 'America/Kentucky/Monticello'
      | 'America/Knox_IN'
      | 'America/Kralendijk'
      | 'America/La_Paz'
      | 'America/Lima'
      | 'America/Los_Angeles'
      | 'America/Louisville'
      | 'America/Lower_Princes'
      | 'America/Maceio'
      | 'America/Managua'
      | 'America/Manaus'
      | 'America/Marigot'
      | 'America/Martinique'
      | 'America/Matamoros'
      | 'America/Mazatlan'
      | 'America/Mendoza'
      | 'America/Menominee'
      | 'America/Merida'
      | 'America/Metlakatla'
      | 'America/Mexico_City'
      | 'America/Miquelon'
      | 'America/Moncton'
      | 'America/Monterrey'
      | 'America/Montevideo'
      | 'America/Montreal'
      | 'America/Montserrat'
      | 'America/Nassau'
      | 'America/New_York'
      | 'America/Nipigon'
      | 'America/Nome'
      | 'America/Noronha'
      | 'America/North_Dakota/Beulah'
      | 'America/North_Dakota/Center'
      | 'America/North_Dakota/New_Salem'
      | 'America/Nuuk'
      | 'America/Ojinaga'
      | 'America/Panama'
      | 'America/Pangnirtung'
      | 'America/Paramaribo'
      | 'America/Phoenix'
      | 'America/Port-au-Prince'
      | 'America/Port_of_Spain'
      | 'America/Porto_Acre'
      | 'America/Porto_Velho'
      | 'America/Puerto_Rico'
      | 'America/Punta_Arenas'
      | 'America/Rainy_River'
      | 'America/Rankin_Inlet'
      | 'America/Recife'
      | 'America/Regina'
      | 'America/Resolute'
      | 'America/Rio_Branco'
      | 'America/Rosario'
      | 'America/Santa_Isabel'
      | 'America/Santarem'
      | 'America/Santiago'
      | 'America/Santo_Domingo'
      | 'America/Sao_Paulo'
      | 'America/Scoresbysund'
      | 'America/Shiprock'
      | 'America/Sitka'
      | 'America/St_Barthelemy'
      | 'America/St_Johns'
      | 'America/St_Kitts'
      | 'America/St_Lucia'
      | 'America/St_Thomas'
      | 'America/St_Vincent'
      | 'America/Swift_Current'
      | 'America/Tegucigalpa'
      | 'America/Thule'
      | 'America/Thunder_Bay'
      | 'America/Tijuana'
      | 'America/Toronto'
      | 'America/Tortola'
      | 'America/Vancouver'
      | 'America/Virgin'
      | 'America/Whitehorse'
      | 'America/Winnipeg'
      | 'America/Yakutat'
      | 'America/Yellowknife'
      | 'Antarctica/Casey'
      | 'Antarctica/Davis'
      | 'Antarctica/DumontDUrville'
      | 'Antarctica/Macquarie'
      | 'Antarctica/Mawson'
      | 'Antarctica/McMurdo'
      | 'Antarctica/Palmer'
      | 'Antarctica/Rothera'
      | 'Antarctica/South_Pole'
      | 'Antarctica/Syowa'
      | 'Antarctica/Troll'
      | 'Antarctica/Vostok'
      | 'Arctic/Longyearbyen'
      | 'Asia/Aden'
      | 'Asia/Almaty'
      | 'Asia/Amman'
      | 'Asia/Anadyr'
      | 'Asia/Aqtau'
      | 'Asia/Aqtobe'
      | 'Asia/Ashgabat'
      | 'Asia/Ashkhabad'
      | 'Asia/Atyrau'
      | 'Asia/Baghdad'
      | 'Asia/Bahrain'
      | 'Asia/Baku'
      | 'Asia/Bangkok'
      | 'Asia/Barnaul'
      | 'Asia/Beirut'
      | 'Asia/Bishkek'
      | 'Asia/Brunei'
      | 'Asia/Calcutta'
      | 'Asia/Chita'
      | 'Asia/Choibalsan'
      | 'Asia/Chongqing'
      | 'Asia/Chungking'
      | 'Asia/Colombo'
      | 'Asia/Dacca'
      | 'Asia/Damascus'
      | 'Asia/Dhaka'
      | 'Asia/Dili'
      | 'Asia/Dubai'
      | 'Asia/Dushanbe'
      | 'Asia/Famagusta'
      | 'Asia/Gaza'
      | 'Asia/Harbin'
      | 'Asia/Hebron'
      | 'Asia/Ho_Chi_Minh'
      | 'Asia/Hong_Kong'
      | 'Asia/Hovd'
      | 'Asia/Irkutsk'
      | 'Asia/Istanbul'
      | 'Asia/Jakarta'
      | 'Asia/Jayapura'
      | 'Asia/Jerusalem'
      | 'Asia/Kabul'
      | 'Asia/Kamchatka'
      | 'Asia/Karachi'
      | 'Asia/Kashgar'
      | 'Asia/Kathmandu'
      | 'Asia/Katmandu'
      | 'Asia/Khandyga'
      | 'Asia/Kolkata'
      | 'Asia/Krasnoyarsk'
      | 'Asia/Kuala_Lumpur'
      | 'Asia/Kuching'
      | 'Asia/Kuwait'
      | 'Asia/Macao'
      | 'Asia/Macau'
      | 'Asia/Magadan'
      | 'Asia/Makassar'
      | 'Asia/Manila'
      | 'Asia/Muscat'
      | 'Asia/Nicosia'
      | 'Asia/Novokuznetsk'
      | 'Asia/Novosibirsk'
      | 'Asia/Omsk'
      | 'Asia/Oral'
      | 'Asia/Phnom_Penh'
      | 'Asia/Pontianak'
      | 'Asia/Pyongyang'
      | 'Asia/Qatar'
      | 'Asia/Qostanay'
      | 'Asia/Qyzylorda'
      | 'Asia/Rangoon'
      | 'Asia/Riyadh'
      | 'Asia/Saigon'
      | 'Asia/Sakhalin'
      | 'Asia/Samarkand'
      | 'Asia/Seoul'
      | 'Asia/Shanghai'
      | 'Asia/Singapore'
      | 'Asia/Srednekolymsk'
      | 'Asia/Taipei'
      | 'Asia/Tashkent'
      | 'Asia/Tbilisi'
      | 'Asia/Tehran'
      | 'Asia/Tel_Aviv'
      | 'Asia/Thimbu'
      | 'Asia/Thimphu'
      | 'Asia/Tokyo'
      | 'Asia/Tomsk'
      | 'Asia/Ujung_Pandang'
      | 'Asia/Ulaanbaatar'
      | 'Asia/Ulan_Bator'
      | 'Asia/Urumqi'
      | 'Asia/Ust-Nera'
      | 'Asia/Vientiane'
      | 'Asia/Vladivostok'
      | 'Asia/Yakutsk'
      | 'Asia/Yangon'
      | 'Asia/Yekaterinburg'
      | 'Asia/Yerevan'
      | 'Atlantic/Azores'
      | 'Atlantic/Bermuda'
      | 'Atlantic/Canary'
      | 'Atlantic/Cape_Verde'
      | 'Atlantic/Faeroe'
      | 'Atlantic/Faroe'
      | 'Atlantic/Jan_Mayen'
      | 'Atlantic/Madeira'
      | 'Atlantic/Reykjavik'
      | 'Atlantic/South_Georgia'
      | 'Atlantic/St_Helena'
      | 'Atlantic/Stanley'
      | 'Australia/ACT'
      | 'Australia/Adelaide'
      | 'Australia/Brisbane'
      | 'Australia/Broken_Hill'
      | 'Australia/Canberra'
      | 'Australia/Currie'
      | 'Australia/Darwin'
      | 'Australia/Eucla'
      | 'Australia/Hobart'
      | 'Australia/LHI'
      | 'Australia/Lindeman'
      | 'Australia/Lord_Howe'
      | 'Australia/Melbourne'
      | 'Australia/NSW'
      | 'Australia/North'
      | 'Australia/Perth'
      | 'Australia/Queensland'
      | 'Australia/South'
      | 'Australia/Sydney'
      | 'Australia/Tasmania'
      | 'Australia/Victoria'
      | 'Australia/West'
      | 'Australia/Yancowinna'
      | 'Brazil/Acre'
      | 'Brazil/DeNoronha'
      | 'Brazil/East'
      | 'Brazil/West'
      | 'CET'
      | 'CST6CDT'
      | 'Canada/Atlantic'
      | 'Canada/Central'
      | 'Canada/Eastern'
      | 'Canada/Mountain'
      | 'Canada/Newfoundland'
      | 'Canada/Pacific'
      | 'Canada/Saskatchewan'
      | 'Canada/Yukon'
      | 'Chile/Continental'
      | 'Chile/EasterIsland'
      | 'Cuba'
      | 'EET'
      | 'EST'
      | 'EST5EDT'
      | 'Egypt'
      | 'Eire'
      | 'Etc/GMT'
      | 'Etc/GMT+0'
      | 'Etc/GMT+1'
      | 'Etc/GMT+10'
      | 'Etc/GMT+11'
      | 'Etc/GMT+12'
      | 'Etc/GMT+2'
      | 'Etc/GMT+3'
      | 'Etc/GMT+4'
      | 'Etc/GMT+5'
      | 'Etc/GMT+6'
      | 'Etc/GMT+7'
      | 'Etc/GMT+8'
      | 'Etc/GMT+9'
      | 'Etc/GMT-0'
      | 'Etc/GMT-1'
      | 'Etc/GMT-10'
      | 'Etc/GMT-11'
      | 'Etc/GMT-12'
      | 'Etc/GMT-13'
      | 'Etc/GMT-14'
      | 'Etc/GMT-2'
      | 'Etc/GMT-3'
      | 'Etc/GMT-4'
      | 'Etc/GMT-5'
      | 'Etc/GMT-6'
      | 'Etc/GMT-7'
      | 'Etc/GMT-8'
      | 'Etc/GMT-9'
      | 'Etc/GMT0'
      | 'Etc/Greenwich'
      | 'Etc/UCT'
      | 'Etc/UTC'
      | 'Etc/Universal'
      | 'Etc/Zulu'
      | 'Europe/Amsterdam'
      | 'Europe/Andorra'
      | 'Europe/Astrakhan'
      | 'Europe/Athens'
      | 'Europe/Belfast'
      | 'Europe/Belgrade'
      | 'Europe/Berlin'
      | 'Europe/Bratislava'
      | 'Europe/Brussels'
      | 'Europe/Bucharest'
      | 'Europe/Budapest'
      | 'Europe/Busingen'
      | 'Europe/Chisinau'
      | 'Europe/Copenhagen'
      | 'Europe/Dublin'
      | 'Europe/Gibraltar'
      | 'Europe/Guernsey'
      | 'Europe/Helsinki'
      | 'Europe/Isle_of_Man'
      | 'Europe/Istanbul'
      | 'Europe/Jersey'
      | 'Europe/Kaliningrad'
      | 'Europe/Kiev'
      | 'Europe/Kirov'
      | 'Europe/Kyiv'
      | 'Europe/Lisbon'
      | 'Europe/Ljubljana'
      | 'Europe/London'
      | 'Europe/Luxembourg'
      | 'Europe/Madrid'
      | 'Europe/Malta'
      | 'Europe/Mariehamn'
      | 'Europe/Minsk'
      | 'Europe/Monaco'
      | 'Europe/Moscow'
      | 'Europe/Nicosia'
      | 'Europe/Oslo'
      | 'Europe/Paris'
      | 'Europe/Podgorica'
      | 'Europe/Prague'
      | 'Europe/Riga'
      | 'Europe/Rome'
      | 'Europe/Samara'
      | 'Europe/San_Marino'
      | 'Europe/Sarajevo'
      | 'Europe/Saratov'
      | 'Europe/Simferopol'
      | 'Europe/Skopje'
      | 'Europe/Sofia'
      | 'Europe/Stockholm'
      | 'Europe/Tallinn'
      | 'Europe/Tirane'
      | 'Europe/Tiraspol'
      | 'Europe/Ulyanovsk'
      | 'Europe/Uzhgorod'
      | 'Europe/Vaduz'
      | 'Europe/Vatican'
      | 'Europe/Vienna'
      | 'Europe/Vilnius'
      | 'Europe/Volgograd'
      | 'Europe/Warsaw'
      | 'Europe/Zagreb'
      | 'Europe/Zaporozhye'
      | 'Europe/Zurich'
      | 'GB'
      | 'GB-Eire'
      | 'GMT'
      | 'GMT+0'
      | 'GMT-0'
      | 'GMT0'
      | 'Greenwich'
      | 'HST'
      | 'Hongkong'
      | 'Iceland'
      | 'Indian/Antananarivo'
      | 'Indian/Chagos'
      | 'Indian/Christmas'
      | 'Indian/Cocos'
      | 'Indian/Comoro'
      | 'Indian/Kerguelen'
      | 'Indian/Mahe'
      | 'Indian/Maldives'
      | 'Indian/Mauritius'
      | 'Indian/Mayotte'
      | 'Indian/Reunion'
      | 'Iran'
      | 'Israel'
      | 'Jamaica'
      | 'Japan'
      | 'Kwajalein'
      | 'Libya'
      | 'MET'
      | 'MST'
      | 'MST7MDT'
      | 'Mexico/BajaNorte'
      | 'Mexico/BajaSur'
      | 'Mexico/General'
      | 'NZ'
      | 'NZ-CHAT'
      | 'Navajo'
      | 'PRC'
      | 'PST8PDT'
      | 'Pacific/Apia'
      | 'Pacific/Auckland'
      | 'Pacific/Bougainville'
      | 'Pacific/Chatham'
      | 'Pacific/Chuuk'
      | 'Pacific/Easter'
      | 'Pacific/Efate'
      | 'Pacific/Enderbury'
      | 'Pacific/Fakaofo'
      | 'Pacific/Fiji'
      | 'Pacific/Funafuti'
      | 'Pacific/Galapagos'
      | 'Pacific/Gambier'
      | 'Pacific/Guadalcanal'
      | 'Pacific/Guam'
      | 'Pacific/Honolulu'
      | 'Pacific/Johnston'
      | 'Pacific/Kanton'
      | 'Pacific/Kiritimati'
      | 'Pacific/Kosrae'
      | 'Pacific/Kwajalein'
      | 'Pacific/Majuro'
      | 'Pacific/Marquesas'
      | 'Pacific/Midway'
      | 'Pacific/Nauru'
      | 'Pacific/Niue'
      | 'Pacific/Norfolk'
      | 'Pacific/Noumea'
      | 'Pacific/Pago_Pago'
      | 'Pacific/Palau'
      | 'Pacific/Pitcairn'
      | 'Pacific/Pohnpei'
      | 'Pacific/Ponape'
      | 'Pacific/Port_Moresby'
      | 'Pacific/Rarotonga'
      | 'Pacific/Saipan'
      | 'Pacific/Samoa'
      | 'Pacific/Tahiti'
      | 'Pacific/Tarawa'
      | 'Pacific/Tongatapu'
      | 'Pacific/Truk'
      | 'Pacific/Wake'
      | 'Pacific/Wallis'
      | 'Pacific/Yap'
      | 'Poland'
      | 'Portugal'
      | 'ROC'
      | 'ROK'
      | 'Singapore'
      | 'Turkey'
      | 'UCT'
      | 'US/Alaska'
      | 'US/Aleutian'
      | 'US/Arizona'
      | 'US/Central'
      | 'US/East-Indiana'
      | 'US/Eastern'
      | 'US/Hawaii'
      | 'US/Indiana-Starke'
      | 'US/Michigan'
      | 'US/Mountain'
      | 'US/Pacific'
      | 'US/Samoa'
      | 'UTC'
      | 'Universal'
      | 'W-SU'
      | 'WET'
      | 'Zulu'
      | null;

    /**
     * The type of the ad account.
     */
    type?: 'MANAGED' | 'SELF_SERVE';

    /**
     * Configures the window to use when querying reporting for view attributions.
     */
    view_attribution_window?: 'DAY' | 'MONTH' | 'WEEK';
  }

  export namespace Data {
    /**
     * The unique identifier of a business.
     */
    export interface BusinessID {}
  }
}

export interface AdAccountGenerateReportResponse {
  data: AdAccountGenerateReportResponse.Data;

  pagination: AdAccountGenerateReportResponse.Pagination;
}

export namespace AdAccountGenerateReportResponse {
  export interface Data {
    /**
     * The report result.
     */
    metrics?: Array<Data.Metric>;

    /**
     * An ISO 8601 timestamp indicating when these metrics were last updated.
     */
    metrics_updated_at?: string;
  }

  export namespace Data {
    export interface Metric {
      /**
       * The ID of the account.
       */
      account_id?: string | null;

      /**
       * The ID of the ad group.
       */
      ad_group_id?: string;

      /**
       * The ID of the ad.
       */
      ad_id?: string;

      /**
       * App add payment info count.
       */
      app_install_add_payment_info_count?: number | null;

      /**
       * App add payment info conversion rate.
       */
      app_install_add_payment_info_cvr?: number | null;

      /**
       * App add payment info effective cost per action.
       */
      app_install_add_payment_info_ecpa?: number | null;

      /**
       * App add to cart count.
       */
      app_install_add_to_cart_count?: number | null;

      /**
       * App add to cart conversion rate.
       */
      app_install_add_to_cart_cvr?: number | null;

      /**
       * App add to cart effective cost per action.
       */
      app_install_add_to_cart_ecpa?: number | null;

      /**
       * App launch count.
       */
      app_install_app_launch_count?: number | null;

      /**
       * App launch conversion rate.
       */
      app_install_app_launch_cvr?: number | null;

      /**
       * App launch effective cost per action.
       */
      app_install_app_launch_ecpa?: number | null;

      /**
       * App completed tutorial count.
       */
      app_install_completed_tutorial_count?: number | null;

      /**
       * App completed tutorial conversion rate.
       */
      app_install_completed_tutorial_cvr?: number | null;

      /**
       * App completed tutorial effective cost per action.
       */
      app_install_completed_tutorial_ecpa?: number | null;

      /**
       * App install count.
       */
      app_install_install_count?: number | null;

      /**
       * App install conversion rate.
       */
      app_install_install_cvr?: number | null;

      /**
       * App install effective cost per action.
       */
      app_install_install_ecpa?: number | null;

      /**
       * App level achieved count.
       */
      app_install_level_achieved_count?: number | null;

      /**
       * App level achieved conversion rate.
       */
      app_install_level_achieved_cvr?: number | null;

      /**
       * App level achieved effective cost per action.
       */
      app_install_level_achieved_ecpa?: number | null;

      /**
       * App install mobile ad click count.
       */
      app_install_mmp_ad_click_count?: number | null;

      /**
       * App install mobile ad click conversion rate.
       */
      app_install_mmp_ad_click_cvr?: number | null;

      /**
       * App install mobile ad click effective cost per action.
       */
      app_install_mmp_ad_click_ecpa?: number | null;

      /**
       * App install mobile ad view count.
       */
      app_install_mmp_ad_view_count?: number | null;

      /**
       * App install mobile ad view conversion rate.
       */
      app_install_mmp_ad_view_cvr?: number | null;

      /**
       * App install mobile ad view effective cost per action.
       */
      app_install_mmp_ad_view_ecpa?: number | null;

      /**
       * App MMP add payment info count.
       */
      app_install_mmp_add_payment_info_count?: number | null;

      /**
       * App MMP add payment info conversion rate.
       */
      app_install_mmp_add_payment_info_cvr?: number | null;

      /**
       * App MMP add payment info effective cost per action.
       */
      app_install_mmp_add_payment_info_ecpa?: number | null;

      /**
       * App MMP add to cart count.
       */
      app_install_mmp_add_to_cart_count?: number | null;

      /**
       * App MMP add to cart conversion rate.
       */
      app_install_mmp_add_to_cart_cvr?: number | null;

      /**
       * App MMP add to cart effective cost per action.
       */
      app_install_mmp_add_to_cart_ecpa?: number | null;

      /**
       * App install mobile add to wishlist count.
       */
      app_install_mmp_add_to_wishlist_count?: number | null;

      /**
       * App install mobile add to wishlist conversion rate.
       */
      app_install_mmp_add_to_wishlist_cvr?: number | null;

      /**
       * App install mobile add to wishlist effective cost per action.
       */
      app_install_mmp_add_to_wishlist_ecpa?: number | null;

      /**
       * App MMP launch count.
       */
      app_install_mmp_app_launch_count?: number | null;

      /**
       * App MMP launch conversion rate.
       */
      app_install_mmp_app_launch_cvr?: number | null;

      /**
       * App MMP launch effective cost per action.
       */
      app_install_mmp_app_launch_ecpa?: number | null;

      /**
       * App install mobile checkout count.
       */
      app_install_mmp_checkout_count?: number | null;

      /**
       * App install mobile checkout conversion rate.
       */
      app_install_mmp_checkout_cvr?: number | null;

      /**
       * App install mobile checkout effective cost per action.
       */
      app_install_mmp_checkout_ecpa?: number | null;

      /**
       * App MMP completed tutorial count.
       */
      app_install_mmp_completed_tutorial_count?: number | null;

      /**
       * App MMP completed tutorial conversion rate.
       */
      app_install_mmp_completed_tutorial_cvr?: number | null;

      /**
       * App MMP completed tutorial effective cost per action.
       */
      app_install_mmp_completed_tutorial_ecpa?: number | null;

      /**
       * App install mobile first time purchase count.
       */
      app_install_mmp_first_time_purchase_count?: number | null;

      /**
       * App install mobile first time purchase conversion rate.
       */
      app_install_mmp_first_time_purchase_cvr?: number | null;

      /**
       * App install mobile first time purchase effective cost per action.
       */
      app_install_mmp_first_time_purchase_ecpa?: number | null;

      /**
       * App MMP install count.
       */
      app_install_mmp_install_count?: number | null;

      /**
       * App MMP install conversion rate.
       */
      app_install_mmp_install_cvr?: number | null;

      /**
       * App MMP install effective cost per action.
       */
      app_install_mmp_install_ecpa?: number | null;

      /**
       * App MMP level achieved count.
       */
      app_install_mmp_level_achieved_count?: number | null;

      /**
       * App MMP level achieved conversion rate.
       */
      app_install_mmp_level_achieved_cvr?: number | null;

      /**
       * App MMP level achieved effective cost per action.
       */
      app_install_mmp_level_achieved_ecpa?: number | null;

      /**
       * App install mobile login count.
       */
      app_install_mmp_login_count?: number | null;

      /**
       * App install mobile login conversion rate.
       */
      app_install_mmp_login_cvr?: number | null;

      /**
       * App install mobile login effective cost per action.
       */
      app_install_mmp_login_ecpa?: number | null;

      /**
       * App install mobile onboard completed count.
       */
      app_install_mmp_onboard_completed_count?: number | null;

      /**
       * App install mobile onboard completed conversion rate.
       */
      app_install_mmp_onboard_completed_cvr?: number | null;

      /**
       * App install mobile onboard completed effective cost per action.
       */
      app_install_mmp_onboard_completed_ecpa?: number | null;

      /**
       * App install mobile onboard started count.
       */
      app_install_mmp_onboard_started_count?: number | null;

      /**
       * App install mobile onboard started conversion rate.
       */
      app_install_mmp_onboard_started_cvr?: number | null;

      /**
       * App install mobile onboard started effective cost per action.
       */
      app_install_mmp_onboard_started_ecpa?: number | null;

      /**
       * App MMP purchase count.
       */
      app_install_mmp_purchase_count?: number | null;

      /**
       * App MMP purchase conversion rate.
       */
      app_install_mmp_purchase_cvr?: number | null;

      /**
       * App MMP purchase effective cost per action.
       */
      app_install_mmp_purchase_ecpa?: number | null;

      /**
       * App install mobile ad rate count.
       */
      app_install_mmp_rate_count?: number | null;

      /**
       * App install mobile ad rate conversion rate.
       */
      app_install_mmp_rate_cvr?: number | null;

      /**
       * App install mobile ad rate effective cost per action.
       */
      app_install_mmp_rate_ecpa?: number | null;

      /**
       * App MMP reinstall count.
       */
      app_install_mmp_reinstall_count?: number | null;

      /**
       * App MMP reinstall conversion rate.
       */
      app_install_mmp_reinstall_cvr?: number | null;

      /**
       * App MMP reinstall effective cost per action.
       */
      app_install_mmp_reinstall_ecpa?: number | null;

      /**
       * App MMP revenue.
       */
      app_install_mmp_revenue?: number | null;

      /**
       * App MMP return on ad spend.
       */
      app_install_mmp_roas?: number | null;

      /**
       * App MMP search count.
       */
      app_install_mmp_search_count?: number | null;

      /**
       * App MMP search conversion rate.
       */
      app_install_mmp_search_cvr?: number | null;

      /**
       * App MMP search effective cost per action.
       */
      app_install_mmp_search_ecpa?: number | null;

      /**
       * App MMP sign up count.
       */
      app_install_mmp_sign_up_count?: number | null;

      /**
       * App MMP sign up conversion rate.
       */
      app_install_mmp_sign_up_cvr?: number | null;

      /**
       * App MMP sign up effective cost per action.
       */
      app_install_mmp_sign_up_ecpa?: number | null;

      /**
       * App MMP spend credits count.
       */
      app_install_mmp_spend_credits_count?: number | null;

      /**
       * App MMP spend credits conversion rate.
       */
      app_install_mmp_spend_credits_cvr?: number | null;

      /**
       * App MMP spend credits effective cost per action.
       */
      app_install_mmp_spend_credits_ecpa?: number | null;

      /**
       * App install mobile start trial count.
       */
      app_install_mmp_start_trial_count?: number | null;

      /**
       * App install mobile start trial conversion rate.
       */
      app_install_mmp_start_trial_cvr?: number | null;

      /**
       * App install mobile start trial effective cost per action.
       */
      app_install_mmp_start_trial_ecpa?: number | null;

      /**
       * App install mobile subscribe count.
       */
      app_install_mmp_subscribe_count?: number | null;

      /**
       * App install mobile subscribe conversion rate.
       */
      app_install_mmp_subscribe_cvr?: number | null;

      /**
       * App install mobile subscribe effective cost per action.
       */
      app_install_mmp_subscribe_ecpa?: number | null;

      /**
       * The number of total mobile conversions.
       */
      app_install_mmp_total_conversions?: number | null;

      /**
       * App MMP total install count.
       */
      app_install_mmp_total_install_count?: number | null;

      /**
       * App MMP total install conversion rate.
       */
      app_install_mmp_total_install_cvr?: number | null;

      /**
       * App MMP total install effective cost per action.
       */
      app_install_mmp_total_install_ecpa?: number | null;

      /**
       * App install mobile achievement unlocked count.
       */
      app_install_mmp_unlock_achievement_count?: number | null;

      /**
       * App install mobile achievement unlocked conversion rate.
       */
      app_install_mmp_unlock_achievement_cvr?: number | null;

      /**
       * App install mobile achievement unlocked effective cost per action.
       */
      app_install_mmp_unlock_achievement_ecpa?: number | null;

      /**
       * App MMP view content count.
       */
      app_install_mmp_view_content_count?: number | null;

      /**
       * App MMP view content conversion rate.
       */
      app_install_mmp_view_content_cvr?: number | null;

      /**
       * App MMP view content effective cost per action.
       */
      app_install_mmp_view_content_ecpa?: number | null;

      /**
       * App purchase count.
       */
      app_install_purchase_count?: number | null;

      /**
       * App purchase conversion rate.
       */
      app_install_purchase_cvr?: number | null;

      /**
       * App purchase effective cost per action.
       */
      app_install_purchase_ecpa?: number | null;

      /**
       * App revenue.
       */
      app_install_revenue?: number | null;

      /**
       * App return on ad spend.
       */
      app_install_roas_double?: number | null;

      /**
       * App search count.
       */
      app_install_search_count?: number | null;

      /**
       * App search conversion rate.
       */
      app_install_search_cvr?: number | null;

      /**
       * App search effective cost per action.
       */
      app_install_search_ecpa?: number | null;

      /**
       * App sign up count.
       */
      app_install_sign_up_count?: number | null;

      /**
       * App sign up conversion rate.
       */
      app_install_sign_up_cvr?: number | null;

      /**
       * App sign up effective cost per action.
       */
      app_install_sign_up_ecpa?: number | null;

      /**
       * App install SKAN ad click count.
       */
      app_install_skan_ad_click_count?: number | null;

      /**
       * App install SKAN ad click conversion rate.
       */
      app_install_skan_ad_click_cvr?: number | null;

      /**
       * App install SKAN ad click effective cost per action.
       */
      app_install_skan_ad_click_ecpa?: number | null;

      /**
       * App install SKAN ad view count.
       */
      app_install_skan_ad_view_count?: number | null;

      /**
       * App install SKAN ad view conversion rate.
       */
      app_install_skan_ad_view_cvr?: number | null;

      /**
       * App install SKAN ad view effective cost per action.
       */
      app_install_skan_ad_view_ecpa?: number | null;

      /**
       * App install SKAN add payment info count.
       */
      app_install_skan_add_payment_info_count?: number | null;

      /**
       * App SKAN add payment info conversion rate.
       */
      app_install_skan_add_payment_info_cvr?: number | null;

      /**
       * App install SKAN add payment info effective cost per action.
       */
      app_install_skan_add_payment_info_ecpa?: number | null;

      /**
       * App install SKAN add to cart count.
       */
      app_install_skan_add_to_cart_count?: number | null;

      /**
       * App SKAN add to cart conversion rate.
       */
      app_install_skan_add_to_cart_cvr?: number | null;

      /**
       * App install SKAN add to cart effective cost per action.
       */
      app_install_skan_add_to_cart_ecpa?: number | null;

      /**
       * App install SKAN add to wishlist count.
       */
      app_install_skan_add_to_wishlist_count?: number | null;

      /**
       * App install SKAN add to wishlist conversion rate.
       */
      app_install_skan_add_to_wishlist_cvr?: number | null;

      /**
       * App install SKAN add to wishlist effective cost per action.
       */
      app_install_skan_add_to_wishlist_ecpa?: number | null;

      /**
       * App install SKAN app launch count.
       */
      app_install_skan_app_launch_count?: number | null;

      /**
       * App SKAN app launch conversion rate.
       */
      app_install_skan_app_launch_cvr?: number | null;

      /**
       * App install SKAN app launch effective cost per action.
       */
      app_install_skan_app_launch_ecpa?: number | null;

      /**
       * App install SKAN checkout count.
       */
      app_install_skan_checkout_count?: number | null;

      /**
       * App install SKAN checkout conversion rate.
       */
      app_install_skan_checkout_cvr?: number | null;

      /**
       * App install SKAN checkout effective cost per action.
       */
      app_install_skan_checkout_ecpa?: number | null;

      /**
       * App install SKAN completed tutorial count.
       */
      app_install_skan_completed_tutorial_count?: number | null;

      /**
       * App SKAN completed tutorial conversion rate.
       */
      app_install_skan_completed_tutorial_cvr?: number | null;

      /**
       * App install SKAN completed tutorial effective cost per action.
       */
      app_install_skan_completed_tutorial_ecpa?: number | null;

      /**
       * App install SKAN first time purchase count.
       */
      app_install_skan_first_time_purchase_count?: number | null;

      /**
       * App install SKAN first time purchase conversion rate.
       */
      app_install_skan_first_time_purchase_cvr?: number | null;

      /**
       * App install SKAN first time purchase effective cost per action.
       */
      app_install_skan_first_time_purchase_ecpa?: number | null;

      /**
       * App SKAN install count.
       */
      app_install_skan_install_count?: number | null;

      /**
       * App SKAN install conversion rate.
       */
      app_install_skan_install_cvr?: number | null;

      /**
       * App SKAN install effective cost per action.
       */
      app_install_skan_install_ecpa?: number | null;

      /**
       * App install SKAN level achieved count.
       */
      app_install_skan_level_achieved_count?: number | null;

      /**
       * App SKAN level achieved conversion rate.
       */
      app_install_skan_level_achieved_cvr?: number | null;

      /**
       * App install SKAN level achieved effective cost per action.
       */
      app_install_skan_level_achieved_ecpa?: number | null;

      /**
       * App install SKAN login count.
       */
      app_install_skan_login_count?: number | null;

      /**
       * App install SKAN login conversion rate.
       */
      app_install_skan_login_cvr?: number | null;

      /**
       * App install SKAN login effective cost per action.
       */
      app_install_skan_login_ecpa?: number | null;

      /**
       * App install SKAN onboard completed count.
       */
      app_install_skan_onboard_completed_count?: number | null;

      /**
       * App install SKAN onboard completed conversion rate.
       */
      app_install_skan_onboard_completed_cvr?: number | null;

      /**
       * App install SKAN onboard completed effective cost per action.
       */
      app_install_skan_onboard_completed_ecpa?: number | null;

      /**
       * App install SKAN onboard started count.
       */
      app_install_skan_onboard_started_count?: number | null;

      /**
       * App install SKAN onboard started conversion rate.
       */
      app_install_skan_onboard_started_cvr?: number | null;

      /**
       * App install SKAN onboard started effective cost per action.
       */
      app_install_skan_onboard_started_ecpa?: number | null;

      /**
       * App install SKAN purchase count.
       */
      app_install_skan_purchase_count?: number | null;

      /**
       * App SKAN purchase conversion rate.
       */
      app_install_skan_purchase_cvr?: number | null;

      /**
       * App install SKAN purchase effective cost per action.
       */
      app_install_skan_purchase_ecpa?: number | null;

      /**
       * App install SKAN rate count.
       */
      app_install_skan_rate_count?: number | null;

      /**
       * App install SKAN rate conversion rate.
       */
      app_install_skan_rate_cvr?: number | null;

      /**
       * App install SKAN rate effective cost per action.
       */
      app_install_skan_rate_ecpa?: number | null;

      /**
       * App SKAN reinstall count.
       */
      app_install_skan_reinstall_count?: number | null;

      /**
       * App SKAN reinstall conversion rate.
       */
      app_install_skan_reinstall_cvr?: number | null;

      /**
       * App SKAN reinstall effective cost per action.
       */
      app_install_skan_reinstall_ecpa?: number | null;

      /**
       * App install SKAN revenue.
       */
      app_install_skan_revenue?: number | null;

      /**
       * App SKAN return on ad spend.
       */
      app_install_skan_roas?: number | null;

      /**
       * App install SKAN search count.
       */
      app_install_skan_search_count?: number | null;

      /**
       * App SKAN search conversion rate.
       */
      app_install_skan_search_cvr?: number | null;

      /**
       * App install SKAN search effective cost per action.
       */
      app_install_skan_search_ecpa?: number | null;

      /**
       * App install SKAN sign up count.
       */
      app_install_skan_sign_up_count?: number | null;

      /**
       * App SKAN sign up conversion rate.
       */
      app_install_skan_sign_up_cvr?: number | null;

      /**
       * App install SKAN sign up effective cost per action.
       */
      app_install_skan_sign_up_ecpa?: number | null;

      /**
       * App install SKAN spend credits count.
       */
      app_install_skan_spend_credits_count?: number | null;

      /**
       * App SKAN spend credits conversion rate.
       */
      app_install_skan_spend_credits_cvr?: number | null;

      /**
       * App install SKAN spend credits effective cost per action.
       */
      app_install_skan_spend_credits_ecpa?: number | null;

      /**
       * App install SKAN start trial count.
       */
      app_install_skan_start_trial_count?: number | null;

      /**
       * App install SKAN start trial conversion rate.
       */
      app_install_skan_start_trial_cvr?: number | null;

      /**
       * App install SKAN start trial effective cost per action.
       */
      app_install_skan_start_trial_ecpa?: number | null;

      /**
       * App install SKAN subscribe count.
       */
      app_install_skan_subscribe_count?: number | null;

      /**
       * App install SKAN subscribe conversion rate.
       */
      app_install_skan_subscribe_cvr?: number | null;

      /**
       * App install SKAN subscribe effective cost per action.
       */
      app_install_skan_subscribe_ecpa?: number | null;

      /**
       * App install SKAN total conversions.
       */
      app_install_skan_total_conversions?: number | null;

      /**
       * App SKAN total install count.
       */
      app_install_skan_total_install_count?: number | null;

      /**
       * App SKAN total install conversion rate.
       */
      app_install_skan_total_install_cvr?: number | null;

      /**
       * App SKAN total install effective cost per action.
       */
      app_install_skan_total_install_ecpa?: number | null;

      /**
       * App install SKAN unknown count.
       */
      app_install_skan_unknown_count?: number | null;

      /**
       * App install SKAN achievement unlocked count.
       */
      app_install_skan_unlock_achievement_count?: number | null;

      /**
       * App install SKAN achievement unlocked conversion rate.
       */
      app_install_skan_unlock_achievement_cvr?: number | null;

      /**
       * App install SKAN achievement unlocked effective cost per action.
       */
      app_install_skan_unlock_achievement_ecpa?: number | null;

      /**
       * App install SKAN view content count.
       */
      app_install_skan_view_content_count?: number | null;

      /**
       * App SKAN view content conversion rate.
       */
      app_install_skan_view_content_cvr?: number | null;

      /**
       * App install SKAN view content effective cost per action.
       */
      app_install_skan_view_content_ecpa?: number | null;

      /**
       * App spend credits count.
       */
      app_install_spend_credits_count?: number | null;

      /**
       * App spend credits conversion rate.
       */
      app_install_spend_credits_cvr?: number | null;

      /**
       * App spend credits effective cost per action.
       */
      app_install_spend_credits_ecpa?: number | null;

      /**
       * App total conversions.
       */
      app_install_total_conversions?: number | null;

      /**
       * App view content count.
       */
      app_install_view_content_count?: number | null;

      /**
       * App view content conversion rate.
       */
      app_install_view_content_cvr?: number | null;

      /**
       * App view content effective cost per action.
       */
      app_install_view_content_ecpa?: number | null;

      /**
       * The ID of the campaign.
       */
      campaign_id?: string;

      /**
       * The objective type of a campaign.
       */
      campaign_objective?:
        | 'APP_INSTALLS'
        | 'CATALOG_SALES'
        | 'CLICKS'
        | 'CONVERSIONS'
        | 'IMPRESSIONS'
        | 'LEAD_GENERATION'
        | 'VIDEO_VIEWABLE_IMPRESSIONS';

      /**
       * The number of clicks detected for this report period.
       */
      clicks?: number | null;

      /**
       * The number comment downvotes on the ad.
       */
      comment_downvotes?: number | null;

      /**
       * The number of page views for the ad.
       */
      comment_page_views?: number | null;

      /**
       * The number of comment submissions on the ad.
       */
      comment_submissions?: number | null;

      /**
       * The number of comment upvotes on the ad.
       */
      comment_upvotes?: number | null;

      /**
       * The community/subreddit being targeted.
       */
      community?: string | null;

      /**
       * Average value of the shopping cart.
       */
      conversion_add_to_cart_avg_value?: number | null;

      /**
       * The click through conversions count.
       */
      conversion_add_to_cart_clicks?: number | null;

      /**
       * The cost per add to cart conversion.
       */
      conversion_add_to_cart_ecpa?: number | null;

      /**
       * Total size of the shopping cart.
       */
      conversion_add_to_cart_total_items?: number | null;

      /**
       * Total value of the shopping cart.
       */
      conversion_add_to_cart_total_value?: number | null;

      /**
       * The view through conversions count.
       */
      conversion_add_to_cart_views?: number | null;

      /**
       * Average value of the wish list.
       */
      conversion_add_to_wishlist_avg_value?: number | null;

      /**
       * The click through conversions count.
       */
      conversion_add_to_wishlist_clicks?: number | null;

      /**
       * The cost per add to wishlist conversion.
       */
      conversion_add_to_wishlist_ecpa?: number | null;

      /**
       * Total size of the wish list.
       */
      conversion_add_to_wishlist_total_items?: number | null;

      /**
       * Total value of the wish list.
       */
      conversion_add_to_wishlist_total_value?: number | null;

      /**
       * The view through conversions count.
       */
      conversion_add_to_wishlist_views?: number | null;

      /**
       * The average value for this custom conversion event.
       */
      conversion_custom_avg_value?: number | null;

      /**
       * The number of clicks for this custom conversion event.
       */
      conversion_custom_clicks?: number | null;

      /**
       * The effective cost per action for this custom conversion event.
       */
      conversion_custom_ecpa?: number | null;

      /**
       * Average value of an item for this custom event.
       */
      conversion_custom_event_1_avg_value?: number | null;

      /**
       * The number of clicks detected for this custom event.
       */
      conversion_custom_event_1_clicks?: number | null;

      /**
       * Effective cost per action for this custom event.
       */
      conversion_custom_event_1_ecpa?: number | null;

      /**
       * Return on ad spend for purchases for this custom event.
       */
      conversion_custom_event_1_roas?: number | null;

      /**
       * Total items in this custom event.
       */
      conversion_custom_event_1_total_items?: number | null;

      /**
       * Total value of the custom event.
       */
      conversion_custom_event_1_total_value?: number | null;

      /**
       * The number of viewable impressions for this custom event.
       */
      conversion_custom_event_1_views?: number | null;

      /**
       * Average value of an item for this custom event.
       */
      conversion_custom_event_10_avg_value?: number | null;

      /**
       * The number of clicks detected for this custom event.
       */
      conversion_custom_event_10_clicks?: number | null;

      /**
       * Effective cost per action for this custom event.
       */
      conversion_custom_event_10_ecpa?: number | null;

      /**
       * Return on ad spend for purchases for this custom event.
       */
      conversion_custom_event_10_roas?: number | null;

      /**
       * Total items in this custom event.
       */
      conversion_custom_event_10_total_items?: number | null;

      /**
       * Total value of the custom event.
       */
      conversion_custom_event_10_total_value?: number | null;

      /**
       * The number of viewable impressions for this custom event.
       */
      conversion_custom_event_10_views?: number | null;

      /**
       * Average value of an item for this custom event.
       */
      conversion_custom_event_11_avg_value?: number | null;

      /**
       * The number of clicks detected for this custom event.
       */
      conversion_custom_event_11_clicks?: number | null;

      /**
       * Effective cost per action for this custom event.
       */
      conversion_custom_event_11_ecpa?: number | null;

      /**
       * Return on ad spend for purchases for this custom event.
       */
      conversion_custom_event_11_roas?: number | null;

      /**
       * Total items in this custom event.
       */
      conversion_custom_event_11_total_items?: number | null;

      /**
       * Total value of the custom event.
       */
      conversion_custom_event_11_total_value?: number | null;

      /**
       * The number of viewable impressions for this custom event.
       */
      conversion_custom_event_11_views?: number | null;

      /**
       * Average value of an item for this custom event.
       */
      conversion_custom_event_12_avg_value?: number | null;

      /**
       * The number of clicks detected for this custom event.
       */
      conversion_custom_event_12_clicks?: number | null;

      /**
       * Effective cost per action for this custom event.
       */
      conversion_custom_event_12_ecpa?: number | null;

      /**
       * Return on ad spend for purchases for this custom event.
       */
      conversion_custom_event_12_roas?: number | null;

      /**
       * Total items in this custom event.
       */
      conversion_custom_event_12_total_items?: number | null;

      /**
       * Total value of the custom event.
       */
      conversion_custom_event_12_total_value?: number | null;

      /**
       * The number of viewable impressions for this custom event.
       */
      conversion_custom_event_12_views?: number | null;

      /**
       * Average value of an item for this custom event.
       */
      conversion_custom_event_13_avg_value?: number | null;

      /**
       * The number of clicks detected for this custom event.
       */
      conversion_custom_event_13_clicks?: number | null;

      /**
       * Effective cost per action for this custom event.
       */
      conversion_custom_event_13_ecpa?: number | null;

      /**
       * Return on ad spend for purchases for this custom event.
       */
      conversion_custom_event_13_roas?: number | null;

      /**
       * Total items in this custom event.
       */
      conversion_custom_event_13_total_items?: number | null;

      /**
       * Total value of the custom event.
       */
      conversion_custom_event_13_total_value?: number | null;

      /**
       * The number of viewable impressions for this custom event.
       */
      conversion_custom_event_13_views?: number | null;

      /**
       * Average value of an item for this custom event.
       */
      conversion_custom_event_14_avg_value?: number | null;

      /**
       * The number of clicks detected for this custom event.
       */
      conversion_custom_event_14_clicks?: number | null;

      /**
       * Effective cost per action for this custom event.
       */
      conversion_custom_event_14_ecpa?: number | null;

      /**
       * Return on ad spend for purchases for this custom event.
       */
      conversion_custom_event_14_roas?: number | null;

      /**
       * Total items in this custom event.
       */
      conversion_custom_event_14_total_items?: number | null;

      /**
       * Total value of the custom event.
       */
      conversion_custom_event_14_total_value?: number | null;

      /**
       * The number of viewable impressions for this custom event.
       */
      conversion_custom_event_14_views?: number | null;

      /**
       * Average value of an item for this custom event.
       */
      conversion_custom_event_15_avg_value?: number | null;

      /**
       * The number of clicks detected for this custom event.
       */
      conversion_custom_event_15_clicks?: number | null;

      /**
       * Effective cost per action for this custom event.
       */
      conversion_custom_event_15_ecpa?: number | null;

      /**
       * Return on ad spend for purchases for this custom event.
       */
      conversion_custom_event_15_roas?: number | null;

      /**
       * Total items in this custom event.
       */
      conversion_custom_event_15_total_items?: number | null;

      /**
       * Total value of the custom event.
       */
      conversion_custom_event_15_total_value?: number | null;

      /**
       * The number of viewable impressions for this custom event.
       */
      conversion_custom_event_15_views?: number | null;

      /**
       * Average value of an item for this custom event.
       */
      conversion_custom_event_16_avg_value?: number | null;

      /**
       * The number of clicks detected for this custom event.
       */
      conversion_custom_event_16_clicks?: number | null;

      /**
       * Effective cost per action for this custom event.
       */
      conversion_custom_event_16_ecpa?: number | null;

      /**
       * Return on ad spend for purchases for this custom event.
       */
      conversion_custom_event_16_roas?: number | null;

      /**
       * Total items in this custom event.
       */
[...]
